.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../../src/assets/images/spoons-hd-fade.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 24rem;
}

.SearchBar-sort-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #ffffff;
}

.SearchBar-sort-options li {
  cursor: pointer;
  width: 4.33rem;
  /* border-bottom: 1px solid #fff; */
  padding: 0 2.58rem 0.33rem 2.58rem;
  line-height: 1.13;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.4rem;
  transition: color 0.25s;
}

.SearchBar-sort-options li:hover {
  /* border-bottom: 1px solid #32a352; */
  color: #3cbd60;
}

.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
  border-bottom: 1px solid #50ff82;
  color: #50ff82;
}

.SearchBar-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;
}

.SearchBar-fields input {
  width: 21rem;
  padding: 0.66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 0.77rem;
  font-weight: 500;
}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit button {
  border-width: 0px;
  border-radius: 4px;
  padding: 0.72rem 1.7rem;
  background-color: #4e2c5e;
  color: #ffffff;
  font-size: medium;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: background-color 0.5s;
}

.SearchBar-submit button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  background-color: #27da86;
}

@media only screen and (max-width: 560px) {
  .SearchBar {
    background-image: url("../../../src/assets/images/spoons-hd-mobile.jpg");
  }

  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: 0.86rem;
  }
}

li:hover {
  -webkit-transform: scale(1.2);
}
