.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  margin: 0 0.5rem 2.3rem 0.5rem;
}

.Business .image-container {
  height: 16rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: #f0e8e2;
  border-radius: 50%;
}

.Business .image-container:hover {
  margin-bottom: 1rem;
  border-color: #61cf70;
  border-radius: 50%;
}

.Business h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Business-information {
  display: flex;
  justify-content: space-between;
}

.Business-information p {
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  color: #61cf70;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  font-weight: 600;
}

.Business-reviews .rating {
  font-size: 0.88rem;
  line-height: 1rem;
}

a .Business-name:visited {
  color: #3cbd60;
}

a:hover {
  color: #50ff82;
}

a {
  color: white;
}
